html, body {
    margin: 0;
    padding: 0;
}

#comp {
    width: 60%;
    margin-left: 20%;
}

@media all and (max-width: 600px) {
    #comp {
        width: 95%;
        margin-left: 2.5%;
    }
}

.main_title {
    position: absolute !important;
    z-index: 10;
    top: 20px;
    right: 130px;
    margin: 0;
    background-image: linear-gradient(30deg, #fe6786, #e89253);
    text-align: center;
    font-weight: bolder;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.category {
    text-align: center;
}
