#wardrobe {
    display: none;
    z-index: 90;
    position: absolute;
    background-color: #bdc3c7;
    width: 100%;
    text-align: center;
}

#wardrobe img {
    width: auto;
    height: 250px;
}

.title {
    margin-top: 40px;
    background-image: linear-gradient(30deg, #fe6786, #e89253);
    text-align: center;
    font-weight: bolder;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

#wardrobe img:first-child {
    margin-top: 20px;
}

img {
    border-radius: 10px;
}

.card_content_wardrobe {
    position: relative;
    margin: 20px;
    color: #fff;
}

.card_text_wardrobe {
    display: block;
    position: absolute;
    left: 60px;
    bottom: 20px;
    color: #009cf3;
    font-weight: bolder;
    background-clip: text;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}
