label {
	display: block;
    border: 2px solid #5352ed;
    color: #5352ed;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 60;
}

label:hover {
	background-color: #5352ed;
	color: #fff;
}

input {
	display: none;
}
